* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none; }

.inner {
  max-width: 1280px;
  padding: 45px 80px 100px 80px;
  margin: 0 auto;
  overflow-x: hidden; }
  @media (max-width: 767px) {
    .inner {
      padding: 45px 50px 100px 50px; } }
  @media (max-width: 575px) {
    .inner {
      padding: 45px 20px 100px 20px; } }

.inner-without-title {
  padding: 100px 80px; }
  @media (max-width: 767px) {
    .inner-without-title {
      padding: 100px 50px; } }
  @media (max-width: 575px) {
    .inner-without-title {
      padding: 100px 20px; } }

*:focus {
  outline: webkit focus ring color auto 0px !important; }

ul {
  padding-left: 0; }
  ul li {
    list-style-type: none; }

button,
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  border: none;
  background: transparent; }

@font-face {
  font-family: "BannyBR";
  src: url(resrc/fonts/BannyBR.eot);
  src: url(resrc/fonts/BannyBR.woff) format("woff"), url(resrc/fonts/BannyBR.ttf) format("truetype"), url(resrc/icons/BannyBR.svg) format("svg"); }

header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(resrc/images/fish.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat; }

.header-burger {
  cursor: pointer;
  position: absolute;
  top: 50px;
  left: 55px; }
  @media (max-width: 767px) {
    .header-burger {
      display: block;
      position: absolute;
      width: 20px;
      height: 15px;
      z-index: 20; } }
  @media (max-width: 767px) {
    .header-burger::before, .header-burger::after {
      content: "";
      background-color: white;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s; } }
  @media (max-width: 767px) {
    .header-burger::before {
      top: 0; } }
  @media (max-width: 767px) {
    .header-burger::after {
      bottom: 0; } }

.header-burger_active::before {
  transform: rotate(45deg);
  top: 8.5px;
  background-color: rgba(51, 51, 51, 0.5); }

.header-burger_active::after {
  transform: rotate(-45deg);
  bottom: 4.5px;
  background-color: rgba(51, 51, 51, 0.5); }

.header-burger_active span {
  transform: scale(0); }

@media (max-width: 767px) {
  .header-burger__item {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 6.5px;
    transition: all 0.3s ease 0s; } }

.header-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-transform: uppercase;
  box-sizing: border-box; }
  @media (max-width: 767px) {
    .header-menu {
      position: absolute;
      top: -100%;
      left: 5%; } }

.header-menu_active {
  width: 90%;
  height: 60%;
  background-color: #e5e5e5;
  padding: 80px 50px 30px 50px;
  z-index: 10;
  transition: all 1s ease-out 0s;
  overflow: auto;
  top: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  border-radius: 0 0 20px 20px; }

.header-menu__item {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff; }
  .header-menu__item:hover, .header-menu__item:active {
    color: #e8c300; }
  @media (max-width: 767px) {
    .header-menu__item {
      color: rgba(51, 51, 51, 0.5);
      font-size: 22px; } }

.header-menu__logo {
  margin-top: -20px; }
  @media (max-width: 767px) {
    .header-menu__logo {
      position: absolute;
      top: 50%;
      bottom: 50%;
      transform: translate(-50%, -40%);
      right: 0;
      z-index: -1; } }

.header-content_wrapper {
  margin-top: 151px;
  margin-bottom: 82px; }

.header-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }

.header-time {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  width: 60px; }

.header-time__text {
  transform: rotate(-90deg);
  min-width: 260px;
  margin-left: -120px; }

.page__title {
  font-family: "BannyBR";
  font-size: 96px;
  line-height: 100px;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  word-wrap: break-word;
  margin-top: 10px;
  margin-bottom: 10px; }
  @media (max-width: 767px) {
    .page__title {
      font-size: 76px;
      line-height: 80px; } }
  @media (max-width: 575px) {
    .page__title {
      font-size: 56px;
      line-height: 60px; } }
  @media (max-width: 450px) {
    .page__title {
      font-size: 46px;
      line-height: 50px; } }

.section__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #ffffff; }

.yellow-line {
  width: 60px;
  height: 5px;
  background: #e8c300;
  border-radius: 50px; }

.yellow-line_wrapper {
  margin: 20px auto; }

.buttons-line_wrapper {
  margin: 0 auto;
  padding-top: 10px; }

.buttons-line {
  display: table;
  border-collapse: separate;
  table-layout: fixed;
  border-spacing: 40px 0;
  width: 100%;
  max-width: 480px; }
  @media (max-width: 650px) {
    .buttons-line {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.buttons-line__item {
  display: table-cell;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  color: #ffffff;
  border-radius: 5px;
  padding: 26px;
  height: inherit;
  width: calc((100% - 120px) / 2);
  box-sizing: border-box; }
  @media (max-width: 650px) {
    .buttons-line__item {
      width: 200px; } }

.buttons-line__item_yellow {
  background-color: #e8c300;
  border: 1px solid #e8c300;
  transition: 1s; }
  .buttons-line__item_yellow:hover {
    background-color: transparent;
    color: #e8c300;
    transition: 1s; }
  @media (max-width: 650px) {
    .buttons-line__item_yellow {
      margin-bottom: 20px; } }

.buttons-line__item_clear {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: 1s; }
  .buttons-line__item_clear:hover {
    border-color: #e8c300;
    color: #e8c300;
    transition: 1s; }

.header-socials {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.header-socials__link {
  padding-bottom: 20px; }
  .header-socials__link:hover {
    opacity: 0.8; }

.header-scroll-arrow {
  text-align: center; }

.header-scroll-arrow_wrapper {
  margin-bottom: 40px; }

.header-scroll-arrow__link:hover {
  opacity: 0.8; }

.description-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 767px) {
    .description-container {
      flex-direction: column; } }

.picture {
  position: relative; }

.picture__img {
  border-radius: 5px;
  object-fit: cover;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5)); }
  @media (max-width: 1199px) {
    .picture__img {
      width: 375px;
      height: 375px; } }
  @media (max-width: 991px) {
    .picture__img {
      width: 275px;
      height: 275px; } }
  @media (max-width: 450px) {
    .picture__img {
      width: 200px;
      height: 200px; } }

.picture__img_right {
  margin-right: 125px;
  margin-left: 80px; }
  @media (max-width: 1199px) {
    .picture__img_right {
      margin-left: 60px; } }
  @media (max-width: 991px) {
    .picture__img_right {
      margin-left: 40px;
      margin-right: 75px; } }
  @media (max-width: 767px) {
    .picture__img_right {
      margin-left: 75px;
      margin-top: 30px; } }
  @media (max-width: 450px) {
    .picture__img_right {
      margin-left: 50px;
      margin-right: 50px; } }

.picture__img_left {
  margin-left: 125px;
  margin-right: 80px; }
  @media (max-width: 1199px) {
    .picture__img_left {
      margin-right: 60px; } }
  @media (max-width: 991px) {
    .picture__img_left {
      margin-right: 40px;
      margin-left: 75px; } }
  @media (max-width: 767px) {
    .picture__img_left {
      margin-right: 75px;
      margin-bottom: 30px; } }
  @media (max-width: 450px) {
    .picture__img_left {
      margin-left: 50px;
      margin-right: 50px; } }

.square {
  position: absolute;
  width: 250px;
  height: 250px;
  border: 20px solid #e8c300;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
  top: 50%;
  bottom: 50%;
  transform: translate(0%, -50%); }
  @media (max-width: 991px) {
    .square {
      width: 150px;
      height: 150px;
      border: 15px solid #e8c300; } }
  @media (max-width: 450px) {
    .square {
      width: 100px;
      height: 100px;
      border: 10px solid #e8c300; } }

.square_right {
  right: 0; }

.square_left {
  left: 0; }

.description {
  width: 100%;
  max-width: 600px;
  margin: 0 auto; }

.description__title {
  font-family: "BannyBR";
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase; }

.description__title_black {
  color: black; }

.description__title_white {
  color: white; }

.description__lead {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 20px; }

.description__lead_black {
  color: black; }

.description__lead_white {
  color: white; }

.description__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center; }

.description__text_black {
  color: black; }

.description__text_white {
  color: white; }

.ourteam {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(resrc/images/food.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: none; }

.section__title_wrapper {
  margin-bottom: 45px; }

.form-list__item {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  column-gap: 10px;
  height: 60px;
  background: #e5e5e5;
  border-radius: 5px;
  margin-bottom: 10px;
  border: none;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  color: black; }
  .form-list__item:active, .form-list__item:focus {
    outline: none; }
  .form-list__item::placeholder {
    color: rgba(51, 51, 51, 0.5); }

.form-list_two-col {
  text-align: center;
  column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2; }

.form-list__button {
  background: #e8c300;
  border-radius: 5px;
  height: 60px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  transition: 1s; }
  .form-list__button:hover, .form-list__button:active {
    background: #e5e5e5;
    color: rgba(51, 51, 51, 0.5);
    transition: 1s; }

.textbot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  @media (max-width: 575px) {
    .textbot {
      flex-direction: column; } }

.textbot_light {
  color: rgba(255, 255, 255, 0.5); }

.textbot_dark {
  color: rgba(51, 51, 51, 0.5); }

.textbot__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px; }
  .textbot__text span {
    font-weight: bold; }

.textbot_wrapper {
  margin-top: 45px;
  margin-bottom: -45px; }

.specialties {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(resrc/images/specfood.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: none;
  position: relative; }

.swiper-pagination {
  bottom: 45px !important; }

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 10px !important;
  background: #ffffff; }

.swiper-slide {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 767px) {
    .swiper-slide {
      flex-direction: column; } }

.menu-line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-transform: uppercase; }

.menu-line_wrapper {
  margin: 50px 0; }

.menu-line__item {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #333333;
  text-decoration: none; }
  .menu-line__item:hover, .menu-line__item:active {
    color: #e8c300; }

.menu-line__item_active {
  color: #e8c300; }

.menu-line__divide {
  width: 50px;
  height: 0px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  transform: rotate(90deg); }

.menu-list-column {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.menu-list-item__food,
.menu-list-item__price,
.menu-list-item__value {
  font-family: "BannyBR";
  font-size: 18px;
  line-height: 18px;
  color: #333333;
  text-transform: uppercase; }

.menu-list-item__value {
  padding-left: 6px; }

.menu-list-item__space {
  padding-left: 11px;
  padding-right: 14px;
  white-space: nowrap; }

.menu-list-item__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: rgba(51, 51, 51, 0.5); }

.menu-list-item {
  margin-bottom: 30px;
  width: calc((100% - 174px) / 3); }
  .menu-list-item:nth-child(3n-1) {
    margin: 0 87px 30px 87px; }
    @media (max-width: 991px) {
      .menu-list-item:nth-child(3n-1) {
        margin: 0 0 30px 0; } }
  @media (max-width: 991px) {
    .menu-list-item {
      width: calc((100% - 30px) / 2); } }
  @media (max-width: 575px) {
    .menu-list-item {
      width: 100%; } }

.events {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(resrc/images/back.jpeg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: none; }

.black-rectangle {
  box-sizing: border-box;
  font-family: "BannyBR";
  font-size: 24px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
  background: #000000;
  width: 477px;
  position: absolute;
  top: 40%;
  padding: 33px 10px; }
  @media (max-width: 1199px) {
    .black-rectangle {
      width: 377px;
      top: 37.5%; } }
  @media (max-width: 991px) {
    .black-rectangle {
      width: 277px;
      top: 33%; } }

.black-rectangle_right {
  transform: rotate(-90deg);
  right: 54%;
  border-radius: 5px 0px 0px 0px; }
  @media (max-width: 1199px) {
    .black-rectangle_right {
      right: 55%; } }
  @media (max-width: 991px) {
    .black-rectangle_right {
      right: 50%; } }
  @media (max-width: 767px) {
    .black-rectangle_right {
      top: 40%; } }

.black-rectangle_left {
  transform: rotate(90deg);
  left: 48%;
  border-radius: 0px 5px 5px 0px; }
  @media (max-width: 1199px) {
    .black-rectangle_left {
      left: 49%; } }
  @media (max-width: 991px) {
    .black-rectangle_left {
      left: 45%; } }
  @media (max-width: 767px) {
    .black-rectangle_left {
      top: 30%; } }

@media (max-width: 1440px) {
  .description-container_events {
    flex-direction: column; } }

@media (max-width: 1440px) {
  .picture_events-top {
    margin-bottom: 30px; } }

.galerie-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.galerie-line__item {
  object-fit: cover;
  width: calc(100% / 4);
  transition: transform 1s ease; }
  @media (max-width: 992px) {
    .galerie-line__item {
      height: 280px; } }
  @media (max-width: 768px) {
    .galerie-line__item {
      height: 220px; } }
  @media (max-width: 575px) {
    .galerie-line__item {
      height: 180px; } }
  .galerie-line__item:hover {
    transform: scale(1.5);
    cursor: zoom-in;
    z-index: 10; }
  .galerie-line__item:last-child:hover {
    transform-origin: center right; }
  .galerie-line__item:first-child:hover {
    transform-origin: center left; }
  @media (max-width: 992px) {
    .galerie-line__item:nth-child(even):hover {
      transform-origin: center right; } }
  @media (max-width: 992px) {
    .galerie-line__item:nth-child(odd):hover {
      transform-origin: center left; } }
  @media (max-width: 992px) {
    .galerie-line__item {
      width: calc(100% / 2); } }

.form-list_three-col {
  text-align: center;
  column-count: 3;
  -moz-column-count: 3;
  -webkit-column-count: 3; }

.form-list_wrapper {
  margin-top: 30px; }

.description-form__textarea {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  height: fit-content;
  max-height: 120px;
  background: #e5e5e5;
  border-radius: 5px;
  margin-bottom: 10px;
  border: none;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  color: black; }
  .description-form__textarea:active, .description-form__textarea:focus {
    outline: none; }
  .description-form__textarea::placeholder {
    color: rgba(51, 51, 51, 0.5); }

.button-list {
  display: flex;
  flex-direction: row-reverse;
  align-items: center; }
  @media (max-width: 992px) {
    .button-list {
      flex-direction: column; } }

.fas {
  color: #e8c300;
  margin-right: 10px; }

.button-list__item {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  color: rgba(51, 51, 51, 0.5);
  margin-right: 15px; }
  @media (max-width: 992px) {
    .button-list__item {
      margin-top: 20px; } }
  .button-list__item p {
    white-space: nowrap; }

.button-list__item_line {
  display: flex; }

.map {
  margin-bottom: -5px; }

footer {
  background: rgba(0, 0, 0, 0.9);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }

@media (max-width: 1440px) {
  .container#menu .content .menu .block-of-text {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    text-align: center; }
  .container#contact .content {
    margin-left: 80px;
    margin-right: 80px; } }

@media (max-width: 1200px) {
  .container#book .content .img, .container#book .content .square {
    display: none; }
  .container#book .content .text {
    margin-right: 0px; }
  .container#home .content {
    justify-content: space-evenly; }
  .container#specialties .content .description .slick-list .slick-track .mix .square {
    display: none; } }

@media (max-width: 992px) {
  .container#aboutus .content, .container#ourteam .content {
    display: block; }
    .container#aboutus .content .text, .container#ourteam .content .text {
      margin-right: 50px;
      margin-left: 50px; }
    .container#aboutus .content .square, .container#ourteam .content .square {
      display: none; }
    .container#aboutus .content .img, .container#ourteam .content .img {
      margin: 40px auto 0 auto; }
  .container#menu .content .menu .block-of-text {
    column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    text-align: center; }
  .container#events .content .left {
    margin-bottom: 50px; }
  .container#home .content {
    margin-left: 20px;
    margin-right: 20px; }
  .container#specialties .content .mix {
    display: block !important; }
    .container#specialties .content .mix .text {
      margin-right: 50px !important;
      margin-left: 50px !important;
      width: fit-content !important; }
    .container#specialties .content .mix .square {
      display: none; }
    .container#specialties .content .mix .img {
      margin: 40px auto 0 auto !important; } }

@media (max-width: 767px) {
  .container#aboutus .content, .container#ourteam .content {
    margin-left: 40px;
    margin-right: 40px; }
  .container#menu .content {
    margin-left: 40px;
    margin-right: 40px; }
  .container#events .content .right .square, .container#events .content .left .square {
    display: none; }
  .container#home .header__burger {
    display: block;
    position: fixed;
    width: 20px;
    height: 15px;
    margin-left: 20px;
    margin-top: 8px;
    z-index: 20; }
    .container#home .header__burger span {
      background-color: white;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 6.5px;
      transition: all 0.3s ease 0s; }
  .container#home .header__burger::before, .container#home .header__burger::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s; }
  .container#home .header__burger::before {
    top: 0; }
  .container#home .header__burger::after {
    bottom: 0; }
  .container#home .header__burger.active::before {
    transform: rotate(45deg);
    top: 8.5px; }
  .container#home .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 4.5px; }
  .container#home .header__burger.active span {
    transform: scale(0); }
  .container#home .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: #E8C300;
    padding: 30px 0px 30px 0px;
    z-index: 10;
    transition: all 0.3s ease 0s;
    overflow: auto; }
    .container#home .header__menu.active {
      top: 0; }
  .container#home .nav {
    display: block;
    margin-left: 20px;
    padding-top: 30px; }
    .container#home .nav .logo_img {
      display: none; }
    .container#home .nav a:hover, .container#home .nav a:active {
      color: black; }
    .container#home .nav a {
      font-size: 18px;
      line-height: 30px; }
  body.lock {
    overflow: hidden; } }

@media (max-width: 650px) {
  .container#aboutus .content .img, .container#ourteam .content .img {
    height: 400px;
    width: 400px;
    min-width: 400px; }
  .container#book .content .text form .book_column_list {
    text-align: center;
    column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1; }
  .container#book .textbot .contacts {
    display: block;
    text-align: center; }
  .container#contact .content {
    margin-left: 40px;
    margin-right: 40px; }
    .container#contact .content form .three {
      flex-direction: column; }
      .container#contact .content form .three input {
        width: unset; }
  .container#home .content .center .buttons {
    display: flex;
    flex-direction: column; }
    .container#home .content .center .buttons button.yellow {
      margin-right: 0px;
      margin-bottom: 20px; }
  .container#specialties .content .mix .img {
    height: 400px !important;
    width: 400px !important;
    min-width: 400px !important; } }

@media (max-width: 575px) {
  .container#aboutus .content .img, .container#ourteam .content .img {
    height: 300px;
    width: 300px;
    min-width: 300px; }
  .container#menu .menu .mix {
    display: flex;
    flex-direction: column; }
  .container#menu .menu .space {
    padding-left: 0px;
    padding-right: 0px; }
  .container#menu .menu .value {
    padding-left: 0px; }
  .container#menu .menu .descript {
    margin-top: -20px; }
  .container#events .content .left .img, .container#events .content .right .img {
    height: 300px;
    width: 300px;
    min-width: 300px; }
  .container#events .content .left .text {
    left: 45%;
    top: 37%;
    width: 301px; }
  .container#events .content .right .text {
    right: 45%;
    top: 37%;
    width: 301px; }
  .container#events .textbot .contacts {
    display: block;
    text-align: center; }
  .container#home .content .center h1 {
    font-size: 76px;
    line-height: 80px; }
  .container#specialties .content .mix .img {
    height: 300px !important;
    width: 300px !important;
    min-width: 300px !important; } }

@media (max-width: 450px) {
  .container#home .content {
    margin-right: 0px; }
    .container#home .content .center h1 {
      font-size: 56px;
      line-height: 60px; }
    .container#home .content .logo div a img {
      width: 42px;
      height: 42px; }
    .container#home .content .time {
      font-size: 10px;
      line-height: 10px; } }

@media (max-width: 375px) {
  .container#aboutus .content .img, .container#ourteam .content .img {
    height: 250px;
    width: 250px;
    min-width: 250px; }
  .container#aboutus .content .text, .container#ourteam .content .text {
    margin-right: 0px;
    margin-left: 0px; }
  .container#events .content .left .img, .container#events .content .right .img {
    height: 250px;
    width: 250px;
    min-width: 250px; }
  .container#events .content .left .text {
    left: 35%;
    top: 34.5%;
    width: 251px; }
  .container#events .content .right .text {
    right: 27%;
    top: 27%;
    width: 251px;
    line-height: 25px; }
  .container#contact .content {
    margin-left: 10px;
    margin-right: 0px; }
  .container#home .content .center h1 {
    font-size: 46px;
    line-height: 50px; }
  .container#home .content .center .buttons button {
    width: 180px; } }

